* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMON */

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}


/* FINE COMMON */


/* HEADER */

.view-mode {
    width: 100%;
    display: flex;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
}

header .btn {
    margin-right: 10px;
    padding: 5px 10px;
    background: linear-gradient(#828181, #1f1f1f);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

header .btn:hover {
    opacity: 0.9;
}


/* FINE HEADER */


/* MAIN */


/* FINE MAIN */


/* FOOTER */


/* FINE FOOTER */


/* DEBUG */

.debug .view-mode {
    background-color: red;
}